*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* typograph */
.heading-title{
    letter-spacing: 3px;
    font-weight: 400;
}

/* layout */
body{
    background: rgb(255, 242, 242);
}
.webpage-title{
    background: rgb(55, 55, 55);
    color: white;
    padding: 0em 7em;
    margin-top: 3em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative;
}
.red-block{
    position: absolute;
    width: 66px;
    background: rgb(255, 88, 88);
    height: 100%;
    left: 0;
}
.grid-container{
    padding: 1em 3em;
    border:1px solid red;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1.5fr;
}
.dashboard-nav{
    border-right: 1px solid rgb(195, 195, 195);
}
.dashboard-nav ul{
    padding: 0;
}
.dashboard-nav ul li{
    list-style: none;
    margin-bottom: 3em;
    padding-top: 3em;
}
.dashboard-nav ul li a{
    color: rgb(53, 53, 53);
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 0;
}

.dashboard-nav ul:last-child(){
    padding-bottom: 3em;
}
.dashboard-nav ul li a.current-page{
    text-decoration: underline;
    font-weight: bold;
}